@use "uswds-core" with (
  $theme-show-notifications: false,
  // changed theme-color-emergency: "red-warm-60v" to theme-color-emergency: "red-50";
  $theme-color-emergency: "red-50",
  $utilities-use-important: true,
  $output-these-utilities: (
    "background-color",
    "color",
    "display",
    "margin",
    "padding",
  ),
  $color-settings: (
    "output": true,
    "responsive": false,
    "active": false,
    "focus": false,
    "hover": false,
    "visited": false,
  ),
  $color-palettes: (
    "palette-color-theme",
  )
);
